<% if (post.link) { %>
	<a href="<%- url_for(post.link) %>" target="_blank" itemprop="url">
        <img src="<%- theme.post.banner_use_asset_img ? asset_img(post, post.banner) : post.banner %>" class="article-banner" />
    </a>
<% } else if (post.title) { %>
	<% if (index) { %>
		<a href="<%- url_for(post.path) %>" itemprop="url">
            <img src="<%- theme.post.banner_use_asset_img ? asset_img(post, post.banner) : post.banner %>" class="article-banner" />
        </a>
	<% } else { %>
		<img src="<%- theme.post.banner_use_asset_img ? asset_img(post, post.banner) : post.banner %>" class="article-banner" />
	<% } %>
<% } %>

